.hora h1{
    text-align: center;
    color: #fff;
    
}


.hora{
    text-align: center;
    padding: 2em;
    height: 100px;
    background-color: #ef4b3f;
    color: #fff;
}
#hora h1 {
    font-weight: 300;
}
.horario h1 {   
    color: #32338e;
}