.hora h1{
    text-align: center;
    color: #32338e;
    
}

<<<<<<< HEAD
=======
#hora{
    text-align: center;
    padding: 2em;
    height: 120px;
    background-color: #ef4b3f;
    color: #fff;
}
#hora h1 {
    font-weight: 300;
}
.horario h1 {
    color: #32338e;
}
>>>>>>> c1a284bd2037ab2de64f3d4ebfa70c34d53b2126
